body{
    background-image: linear-gradient(to right, rgba(20, 147, 220, 0.863), rgba(17, 54, 71, 0.315));
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu{
    justify-content: center;
    margin-top: 60px;
    height: 46px;
}

.flex{
    
        justify-content: center;
        margin-top: 60px;
        height: 46px;
        display: flex;
        list-style: none;
        
    
    

}
.men{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

a:hover{
    font-size: 25px;
    color: rgb(238, 229, 229);
    background: #000;
    border-radius: 8px;
}



.pt1flex{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nomecontainer{
    text-align: center;
}

.foto{
    margin-top: 5%;
}

#ft{
        margin-top: auto;
        border-radius: 60px;
        box-shadow: 30px 4px 4px rgb(0 0 0 / 25%);
        padding: 7px 7px 0px 7px;
}
.pt2flex{
    display: flex;
    width: 50%;
    flex-direction: column;
}


.container{
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.nome{
    
        font-weight: bold;
        font-size: 60px;
        line-height: 94px;
        text-align: center;
        text-shadow: 70px -20px 4px rgb(0 0 0 / 20%);
        padding: 7px 7px 0px 7px;
    
}

.portifolio{
    
        text-shadow: 2px 2px 1px #000;
        font-size: 25px;
        color: #a39191;
        font-family: Arial, Helvetica, sans-serif;

}

.item{
    padding: 20px;
}

.sobremim{
    margin-top: 5%;
    text-align: center;
}

.sobremim2{ 
    margin-right: auto;
    margin-left: auto;
    width: 21.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 3px solid black;
    letter-spacing: 0.4em;
    text-align: center;
}

.textoeu{
    
        width: 85%;
        margin: 3% auto;
        text-align: justify;
        font-weight: 600;
        font-size: 17px;
        line-height: 138.68%;
        letter-spacing: 0.2em;
        text-align: center;
    
}

/* AQUI COMEÇA OS ESTILOS DOS HOBBIES  */



.containerhob{
    margin-top: 5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 20.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 3px solid black;
    letter-spacing: 0.6em;
    text-align: center;

}

#inicial{
    margin-top: 5%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 15.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    letter-spacing: 0.6em;
    text-align: center;
    
}



#inicial1:hover{
    
    background: #0f0f0f;
    color: #fff;
    letter-spacing: 4px;
    clip-path: polygon(100% 0%, 96% 51%, 100% 100%, 10% 100%, 0% 50%, 10% 1%);
}
#inicial1{
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 30px;
  clip-path: polygon(90% 1%, 100% 50%, 90% 100%, 0% 100%, 5% 51%, 0% 0%);
  
    

}

.textohob{
        width: 85%;
        margin: 3% auto;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        line-height: 138.68%;
        letter-spacing: 0.2em;
        text-align: center;
}

.meushob{
    margin-right: auto;
    margin-left: auto;
    width: 21.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 3px solid black;
    letter-spacing: 0.4em;
    text-align: center;
    margin: 10px;
    text-align: center;
}


.sobremimvideo1{
        width: 85%;
        margin: 3% auto;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        line-height: 138.68%;
        letter-spacing: 0.2em;
        text-align: center;
}

.sobremimvideo1{

    margin-right: auto;
    margin-left: auto;
    width: 21.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 3px solid black;
    letter-spacing: 0.2em;
    text-align: center;
    margin-right: 50px;
    text-align: center;

}

.sobromimcurso{
    width: 85%;
        margin: 3% auto;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        line-height: 138.68%;
        letter-spacing: 0.2em;
        text-align: center;

}

.sobromimcurso1{

    margin-right: auto;
    margin-left: auto;
    width: 21.7%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 3px solid black;
    letter-spacing: 0.4em;
    text-align: center;
    
    text-align: center;
}
